.main-page {
  height: 100%;
  background-color: rgb(150, 150, 255);
}

.main-card {
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 30px;
}

.font {
  font-size: 25px;
}