#wrap_inner {
  width: 3100px;
}

.movie-card {
  background-color: rgb(150, 150, 255);
  padding-bottom: 15px;
}

.mat-button {
  padding: 0;
}
.mat-icon-button {
  color: rgb(41, 41, 255);
  position: absolute;
  right: 5px;
  top: 5px;
}

.mat-card {
  margin-top: 25px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.favourite-icon {
  align-items: right;
}